openapi: 3.0.0
info:
  title: Online Auction System
  version: '1.0'
  description: A online auctions platform.
servers:
  - url: 'https://api.onlineauction.ru/v1/'
    description: Production server (uses live data)
  - url: 'https://sandbox-api.onlineauction.ru:8443/v1/'
    description: Sandbox server (uses test data)
components:
  schemas:
    Auction:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Уникальный идентификатор для аукциона.
          example: 12345
        title:
          type: string
          description: Заголовок аукциона.
          example: "Древняя китайская ваза династии Мин"
        description:
          type: string
          description: Описание аукциона.
          example: "Древнекитайская ваза династии Мин в хорошем состоянии."
        start_time:
          type: string
          format: date-time
          description: Время начала аукциона.
          example: "2023-04-01T00:00:00Z"
        end_time:
          type: string
          format: date-time
          description: Время окончания аукциона.
          example: "2023-04-05T00:00:00Z"
        starting_price:
          type: number
          description: Начальная стоимость лота аукциона.
          format: float
          example: 500.0
      required:
        - id
        - title
        - start_time
        - end_time
        - starting_price
        - highest_bid
        - sellerId
        - item
        - bids
      example:
        id: 1
        sellerId: 1
        itemId: 1
        startBid: 10
        currentBid: 10
        closingTime: '2023-04-01T12:00:00Z'

    Error:
      type: object
      properties:
        message:
          type: string
          description: Описание ошибки.
        code:
          type: integer
          description: Код ошибки.
      required:
        - message
        - code
      example:
        message: "Invalid input."
        code: 400  
  parameters:
    AuctionIdParam:
      name: auction_id
      in: path
      description: Уникальный идентификатор аукциона
      required: true
      schema:
        type: integer

    LimitQueryParam:
      name: limit
      in: query
      description: Максимальное количество возвращаемых результатов
      required: false
      schema:
        type: integer
        example: 1000
    OffsetQueryParam:
      name: offset
      in: query
      description: Количество результатов, которые необходимо пропустить перед возвратом
      required: false
      schema:
        type: integer
        example: 0
  requestBodies:
    AuctionRequestBody:
      description: Тело запроса для создания или обновления аукциона
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auction'

  responses:
    Error:
      description: Ошибка сервера.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        x-error-message:
          description: Описание ошибки.
          schema:
            type: string
        x-error-code:
          description: Код ошибки.
          schema:
            type: integer
    BadRequest:
      description: Запрос был недействительным или не был понятен серверу.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Запрашиваемый ресурс не найден.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: На сервере возникла непредвиденная ошибка.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
paths:
  /auctions:
    get:
      summary: Извлечение списка аукционов
      description: |
        Извлечение списка всех аукционов в системе с возможностью фильтрации по продавцу, товару или статусу.
      parameters:
        - $ref: '#/components/parameters/LimitQueryParam'
        - $ref: '#/components/parameters/OffsetQueryParam'
        - in: query
          name: seller_id
          description: Фильтр аукционов по продавцу
          schema:
            type: integer
        - in: query
          name: item_id
          description: Фильтр аукционов по товару
          schema:
            type: integer
        - in: query
          name: status
          description: Фильтр аукционов по статусу
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Auction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Создание нового аукциона
      description: Создание нового аукциона в системе.
      requestBody:
        $ref: '#/components/requestBodies/AuctionRequestBody'
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: URI созданного аукциона
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auctions/{auction_id}:
    get:
      summary: Извлечение аукциона по идентификатору
      description: Возвращает аукцион с указанным идентификатором, включая информацию о текущей максимальной ставке и истории торгов.
      parameters:
        - $ref: '#/components/parameters/AuctionIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auction'
        default:
          $ref: '#/components/responses/Error'
    put:
      summary: Обновление указанного аукциона
      description: Обновляет указанный аукцион новыми данными, предоставленными в теле запроса.
      parameters:
        - $ref: '#/components/parameters/AuctionIdParam'
      requestBody:
        $ref: '#/components/requestBodies/AuctionRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auction'
        default:
          $ref: '#/components/responses/Error'
    delete:
      summary: Удаление указанного аукциона
      description: Удаляет указанный аукцион.
      parameters:
        - $ref: '#/components/parameters/AuctionIdParam'
      responses:
        '204':
          description: No Content
        default:
          $ref: '#/components/responses/Error'
